*{background-color:black;}

#pic{
  border: 5px solid white;
  width:100%;
}

#title{
  color:white;
  background-color: black;
  font-family: 'AR One Sans', sans-serif;
  text-align:center;
}

#content{
  color:white;
  background-color: black;
  font-family: 'AR One Sans', sans-serif;
  text-align:center;
}

#div1{
  width: 45%;
  margin-left: 27.5%;
  margin-top: 30px;
}